{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>

    <link rel="stylesheet" href="{% static 'css/title.css' %}">
</head>

<body>
    <h1>Home</h1>

    <h2>{{ livro }}</h2>

    <p>{{ categoria }}</p>

    <table>
        <thead>
            <tr>
                <th>Livro</th>
                <th>categoria</th>
                <th>capa</th>
            </tr>

        </thead>
        <tbody>
            {% for livro in livros %}
            <tr>
                <td>{{livro.titulo}}</td>
                <td>{{livro.categoria}}</td>
                <td><a href="{% url 'livro' livro.id %}"><img src="{% static 'img' %}{{livro.capa.url}}" alt="">{{livro.capa.url}}</a></td>
                
            </tr>
            {% endfor %}
        </tbody>

    </table>



</body>

</html>